<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Valle Grande Turismo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" data-scroll href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#actividades">Actividades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#informacion">Informacion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#conocenos">Conocenos</a>
            </li>

        </ul>

    </div>
</nav>
<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p>Bajada</p>
            <h1>Valle Grande Turismo </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum exercitationem alias aut rem
                voluptate ad qui at optio. Eligendi deleniti adipisci dicta ducimus perspiciatis pariatur rerum
                magni repellat, voluptatum cupiditate!</p>
        </div>
    </div>


</div>
<!-- aca empieza actividades -->
<div id="novedades" class="row py-4">
    <div class="col-md-5 offset-md-2 py-3">
        <h2>Actividades</h2>
        <ul class="lista-novedades">
            {{#each novedades}}
            <li id="actividades"> <a href="javascript:void(0)" data-toggle="modal" data-target="#modal{{id}}"><img
                        src="images/prueba.png"> {{titulo}} </a></li>
            {{/each}}
        </ul>
    </div>

    <!-- aca comienza testimonios -->
    <div class="col-3">
        <div class="rounded py-3 testimonios">
            <h2 class="text-center">Testimonios</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h5>"Muy buena las tirolesas, tienen varias, la verdad increibles"</h5>
                            <p>Francisco, Salta</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>"El trekking es muy recomendable, con vistas bellisimas, me encanto"</h5>
                            <p>Martina, Rio Cuarto</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>"El rafting espectacular, y la atencion excelente"</h5>
                            <p>Dario, Cordoba</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div><!-- aca termina testimonios -->
    <!-- Modal -->
    {{#each novedades}}
    <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel"> {{titulo}} </h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>{{subtitulo}}</h3>
                    <p> {{cuerpo}} </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}} 
    <!--aca termina modal	 -->
</div><!-- aca termina actividades -->





<!--aca empieza informacion	 -->
<div id="informacion">
    <div class="section padding-bottom background-color-grey">
        <div class="container">
            <div class="twelve columns">
                <div class="section-title">
                    <h2>Informacion</h2>
                </div>
            </div>
            <div class="four columns">
                <div class="team-box-1">
                    <p><b><strong>Ubicación:</strong></b> El Parque está ubicado a 27 Km. Del centro de la ciudad de
                        San Rafael y 29 Km. Del dique Valle Grande. Se ingresa por la R.P. 173 Km. (viniendo desde
                        la ciudad, 500 mts. Luego del pórtico de ingreso a Valle Grande, pasando el badén, a la
                        derecha, tres grandes carteles por camino consolidado en buen estado). Se puede ingresas en
                        autos y bus doble piso, hasta nuestra playa de estacionamiento cubierto con tela
                        antigranizo.<br><br>
                        <b><strong>Internet:</strong></b> Servicio de Wi Fi sin cargo.
                    </p>
                </div>
            </div>
            <div class="four columns">
                <div class="team-box-1">
                    <p> <strong>Ingreso: </strong>se abona un ingreso que varía el valor según la época del año. Se
                        incluye estacionamiento, sombra, acceso a los sanitarios. Lo abonan todas las personas a
                        partir de los 3 años cumplidos. Se
                        permite el ingreso de alimentos y bebidas (no alcohólicas). No se permite el ingreso de
                        mascotas. Personas con inconvenientes de movilidad, adultos mayores o infantes, consulte
                        forma de ingreso desde la playa de estacionamiento a la zona de servicios.
                    </p>
                </div>
            </div>
            <div class="four columns">
                <div class="team-box-1">
                    <p><strong>Espacios comunes:</strong> Disponemos de sombras con asientos y mesas tipo palets. El
                        uso de las reposeras y
                        camastros son de uso compartido, una vez que no se encuentra la
                        persona haciendo uso de las mismas, debe dejase disponible para que otra persona las
                        utilice. <br><br>
                        <strong>Formas de pago:</strong> el ingreso en efectivo. Consumos y servicios de aventura
                        con tarjetas de débito, crédito, mercado pago, QR.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--aca termina informacion -->


<!-- aca empieza nosotros -->
<div id="nosotros" class="row my-3 staff py-4">
    <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
        <div class="card-group">
            <div class="card">
                <img src="images/nosotros1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Miguel</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="images/nosotros2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cande</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="images/nosotros3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pablo</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="images/nsotros4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sofy</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="images/nosotros5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jose</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

</div>
<!--aca termina nosotros -->

<div id="conocenos" class="row py-4">
    <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88101.41493933312!2d-68.5492113154199!3d-34.85400550794295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9679bd683f8f7881%3A0xdfa13148a0b79300!2sCa%C3%B1on%20del%20Atuel!5e0!3m2!1ses-419!2sar!4v1630186065410!5m2!1ses-419!2sar"
                width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <div class="col-md-4 mt-4 mt-sm-0">
        <h2>Contactanos</h2>
        <form action="/" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNombre">Nombre</label>
                    <input type="text" class="form-control" id="inputEmail4" name="nombre">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputApellido">Apellido</label>
                    <input type="text" class="form-control" id="inputPassword4" name="apellido">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="ejemplo@email.com" name="email">
            </div>
            <div class="form-group">
                <label for="inputTelefono">Telefono</label>
                <input type="text" class="form-control" id="inputTelefono" placeholder="..." name="telefono">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Ciudad</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="..." name="ciudad">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCity">Provincia</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="..." name="provincia">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Comentarios</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="mensaje"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        {{#if message}}
        {{message}}
        {{/if}}
    </div>
</div>





<footer>Diseñado por: Dario Rivera 2021</footer>